.App {
  text-align: center;
}


body {
  background-color: #2E2E3A;
  font-family: "Georgia", sans-serif;
  font-weight: 750;
}


.section1 {
  padding-top: 35px;
  background-color: #6184D8;
  height: 100%;
  font-family: "Georgia", sans-serif;
  

}
.midsection1 {
  background: linear-gradient(#6184D8, #EE6C4D);
  height: 100%;
  padding-top: 100px;
  font-family: "Georgia", sans-serif;
}

.section2 {
  background-color: #EE6C4D;
  height: 100%;
  font-family: "Georgia", sans-serif;
  padding-bottom: 35px;
}
.section3 {
  padding-top: 35px;
  background-color: #2E2E3A;
  height: 100%;
  font-family: "Georgia", sans-serif;
  color: #E6E6E6 ;
}

.container {
  display: table;
  width: 100%;
}
.column {
  display: table-cell;
  padding: 16px;
}
li span {
  position: relative;


  bottom: 3px;
}

li::marker{
  font-size: 1.6em;
  line-height: 2.0;
}



