.App {
  text-align: center;
  color: #fafafa;
  background-color: #1a1a1a;

}


body {
  font-family: "Georgia", sans-serif;
  font-weight: 750;
  background-color: #1a1a1a;

}


.resumebox {
  background-color: #fafafa;
  color: #1a1a1a;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.link {
  color: #1a1a1a;
}


.section1 {
  padding-top: 35px;
  font-size: 1.6em;
  height: 100%;
  font-family: "Georgia", sans-serif;
}

.midsection1 {
  /* background: linear-gradient(#6184D8, #EE6C4D); */
  height: 100%;
  padding-top: 30px;
  font-family: "Georgia", sans-serif;
}

.section2 {
  /* background-color: grey; */
  height: 100%;
  font-family: "Georgia", sans-serif;
  padding-bottom: 35px;
}
.section3 {
  padding-top: 35px;
  height: 100%;
  font-family: "Georgia", sans-serif;
  color: #E6E6E6 ;
}

.container {
  display: table;
  width: 100%;
  padding-top: 20px;
}
.column {
  display: table-cell;
  vertical-align: middle;
}
.columnLeft {
  display: table-cell;
  padding-left: 16px;
  text-align: left;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
.columnRight {
  display: table-cell;
  padding-right: 16px;
  text-align: left;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.head1 {
  font-size: 2.5em;
  font-weight: 750;
  padding-bottom: 20px;
}

p1 {
  color: salmon;
}


