@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.homebg {
  height: 100vh;   width: 100vw;

  background: linear-gradient(35deg, #5e0297, #01132d, #013f2f, #06933e);
  background-size: 400% 400%;
  animation: gradientShift 28s ease-out infinite;

  text-align: center;

}


.App {
  text-align: center;
  color: #fafafa;
  background-color: #1a1a1a;
}


body {
  font-family: 'Raleway', sans-serif;
  font-weight: 750;
  background-color: #1a1a1a;
  color: #cacaca;

}

.app-header {
  background-color: #1a1a1a;
  
  padding: 20px;
  font-size: 1.2em;
  font-weight: 550;
}

.resumebox {

  display: flex;

  background-color: #fafafa20;
  outline: 0.3vw solid #1a1a1a;

  border-radius: 10px;
  margin: auto;

  width: 10vw;
  height: 10vw;
  font-size: 1.8vw;

  
  align-items: center;
  justify-content: center;
  
}

img:not([alt="UIUC Logo"]) {
  outline: 0.3vw solid #1a1a1aff;
  border-radius: 10px;
}





.container {
  display: table;
  width: 100%;
  padding-top: 20px;
}

.column {
  display: table-cell;
  vertical-align: middle;
}

.columnLeft {
  display: table-cell;
  padding-left: 16px;
  text-align: left;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
.columnRight {
  display: table-cell;
  padding-right: 16px;
  text-align: left;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.head1 {
  font-size: 2.5em;
  font-weight: 750;
  padding-bottom: 20px;
}

mainHead {
  font-size: 3vw;
}

colMain {
  color: salmon;
}

colName {
  color: rgb(87, 137, 253);
}

doubleFont {
  font-size: 1.5em;
}

colCode {
  color: #70FFC5;
}

colIdea {
  color: #70AAFF;
}


